* {
margin: 0px;
padding: 0px;/* 要素同士の隙間を0に */
box-sizing: border-box;/* スクロールの余白なし */
}
li {
  list-style: none;
}

 body {
font-family:;/* 1ワードの場合は""は無し */
width:100%;
}

header {
  width:100%;
  height:120px;
}
.header-container {}
.header-top {
  padding-top:10px;
  padding-bottom:10px;
  padding-right:10px;
  text-align: right;
  display: flex;
}
.header-top-one {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: right;
}
.header-top-two {}
.header-top-three {}
.header-top-four {}
.header-top-five {}

.top {
  width:100%;
  height:920px;
  background: url(https://raw.githubusercontent.com/genkimita/silveroak/master/image/top1.jpg) center / auto 920px no-repeat;
  background-size: cover;
  /*  */
  color:#ffffff;
}
.top-container {
  width:80%;
  margin-left: auto;
  margin-right: auto;
}
.top-container-text {
  margin-left: 110px;
  margin-top:300px;
  margin-bottom:120px;
}
.top-container-text-one {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /*  */
  padding-bottom:60px;
}
.top-container-text-two {
  font-weight: 400;
  font-size: 86px;
  line-height: 103px;
  /*  */
  padding-bottom:30px;
}
.top-container-text-three {
  font-weight: 400;
  font-size: 86px;
  line-height: 103px;
  /*  */
  padding-bottom:30px;
}
.top-container-text-four {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  /*  */
  padding-bottom:30px;
}
.top-container-menu {
  text-align: center;
}
.top-container-menu a{
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  padding-left:190px;
  padding-right:190px;
}











.footer {

}
