* {
margin: 0px;
padding: 0px;/* 要素同士の隙間を0に */
box-sizing: border-box;/* スクロールの余白なし */
}
li {
  list-style: none;
}

 body {
font-family:;/* 1ワードの場合は""は無し */
width:100%;
}

.header {
  width:100%;
  height:120px;
}
.header-container {}
.header-top {
  padding-top:10px;
  padding-bottom:10px;
  padding-right:10px;
  text-align: right;
  display: flex;
}
.header-top-one {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: right;
}
.header-top-two {}
.header-top-three {}
.header-top-four {
  font-weight: 400;
  font-size: 12px;
  line-height: 40px;
}
.header-top-five {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}
.header-bottom {}
.header-bottom-logo {}
.header-bottom-menu {}
  .header-bottom-menu-list {
  }
  .header-bottom-menu-list li{
    font-weight: 400;
    font-size: 14px;
    line-height: 80px;
  }
.header-bottom-support {
}
.header-bottom-support li{
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}



.top {
  width:100%;
  height:920px;
  background: url(https://raw.githubusercontent.com/genkimita/silveroak/master/image/top1.jpg) center / auto auto no-repeat;
  background-size: cover;
  position: relative;
  /*  */
  color:#ffffff;
}
.top::before {
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  top: 0;right: 0;bottom: 0;left: 0;
  content: ' ';
}
.top-container {
  width:80%;
  margin-left: auto;
  margin-right: auto;
  padding-top:300px;
}
.top-container-text {
  margin-left: 110px;
  margin-bottom:120px;
}
.top-container-text-one {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /*  */
  padding-bottom:60px;
}
.top-container-text-two {
  font-weight: 400;
  font-size: 86px;
  line-height: 103px;
  /*  */
  padding-bottom:30px;
}
.top-container-text-three {
  font-weight: 400;
  font-size: 86px;
  line-height: 103px;
  /*  */
  padding-bottom:30px;
}
.top-container-text-four {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  /*  */
  padding-bottom:30px;
}
.top-container-menu {
  text-align: center;
  border-top:2px solid #ffffff ;
}
.top-container-menu a{
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  padding-left:190px;
  padding-right:190px;
}











.footer {

}
