* {
margin: 0px;
padding: 0px;/* 要素同士の隙間を0に */
box-sizing: border-box;/* スクロールの余白なし */
}
li {
  list-style: none;
}

 body {
font-family:;/* 1ワードの場合は""は無し */
width:100%;
}

.header {
  width:100%;
  height:120px;
  background-color:black;
  color:#ffffff;
}
.header-container {
  width:100%;
}
.header-top {
  width:100%;
  padding-top:10px;
  padding-bottom:10px;
  padding-right:10px;
  text-align: right;
  display: flex;
}
.header-top-one {
  width:15%;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: right;
  /*  */
  border-bottom:1px solid #ffffff;
  border-right:1px solid #ffffff;
}
.header-top-two {
  width:5%;
  border-bottom:1px solid #ffffff;
  border-right:1px solid #ffffff;
  text-align: center;
}
.header-top-three {
  width:60%;
  border-bottom:1px solid #ffffff;
  border-right:1px solid #ffffff;
}
.header-top-four {
  width:5%;
  font-weight: 400;
  font-size: 12px;
  line-height: 40px;
  text-align: center;
  /*  */
  border-bottom:1px solid #ffffff;
  border-right:1px solid #ffffff;
}
.header-top-five {
  width:15%;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: left;
  /*  */
  border-bottom:1px solid #ffffff;
}
.header-bottom {
  display: flex;
}
.header-bottom-logo {
  width:20%;
}
.header-bottom-menu {
  width:60%;
  margin: 0 auto;
}
.header-bottom-menu-list {
    display: flex;
    width:20%;
  }
.header-bottom-menu-list li{
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  }




.top {
  width:100%;
  height:920px;
  background: url(https://raw.githubusercontent.com/genkimita/silveroak/master/image/top1.jpg) center / auto auto no-repeat;
  background-size: cover;
  position: relative;
  /*  */
  color:#ffffff;
}
.top::before {
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  top: 0;right: 0;bottom: 0;left: 0;
  content: ' ';
}
.top-container {
  width:80%;
  margin-left: auto;
  margin-right: auto;
  padding-top:300px;
}
.top-container-text {
  margin-left: 110px;
  margin-bottom:120px;
}
.top-container-text-one {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /*  */
  padding-bottom:60px;
}
.top-container-text-two {
  font-weight: 400;
  font-size: 86px;
  line-height: 103px;
  /*  */
  padding-bottom:30px;
}
.top-container-text-three {
  font-weight: 400;
  font-size: 86px;
  line-height: 103px;
  /*  */
  padding-bottom:30px;
}
.top-container-text-four {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  /*  */
  padding-bottom:30px;
}
.top-container-menu {
  text-align: center;
  border-top:2px solid #ffffff ;
}
.top-container-menu a{
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  padding-left:190px;
  padding-right:190px;
}



.product {
  width:100%;
}
.product-title-one {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color:rgb(126, 126, 126);
  /*  */
  width:75%;
  margin: 0 auto;
  padding-top:120px;
  padding-bottom:60px;
}
.product-title-two {
  font-weight: 400;
  font-size: 51px;
  line-height: 68px;
  color:rgb(32, 34, 37);
  /*  */
  width:75%;
  margin: 0 auto;
}
.product-detail {
  width:80%;
  height:1000px;
  margin: 0 auto;
  /*  */
  background-color:rgb(242, 240, 236);
  vertical-align: bottom;
}
.product-detail-left {
  background: url(https://raw.githubusercontent.com/genkimita/silveroak/master/image/shop-silver-oak-wines-2016-alex.png);
  background-size: cover;
}
.product-detail-right {
  width:40%;
  float:right;
}
.product-detail-one {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color:rgb(131, 131, 131);
  /*  */
  margin-bottom:60px;
}
.product-detail-two {
  font-weight: 400;
  font-size: 51px;
  line-height: 68px;
  color:rgb(0, 0, 0);
  /*  */
  margin-bottom:45px;
}
.product-detail-three {
  margin-bottom:40px;
}
.product-detail-three-list {}
.product-detail-three-list li{
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color:rgb(131, 131, 131);
}
.product-detail-four {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color:rgb(0, 0, 0);
}



.visit {
  height:1180px;
  display: flex;
}
.visit-left {
  width:50%;
}
.visit-left-box {
  width:550px;
  float:right;
}
.visit-left-one {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color:rgb(126, 126, 126);
  /*  */
  margin-top:170px;
  margin-bottom:60px;
}
.visit-left-two {
  font-weight: 400;
  font-size: 51px;
  line-height: 68px;
  /*  */
  margin-bottom:70px;
}
.visit-left-three {
  width:550px;
  height:730px;
  background: url(https://raw.githubusercontent.com/genkimita/silveroak/master/image/home-visit-oakville.jpg);
  background-size: cover;
  position: relative;
}
.visit-left-three::before {
background-color: rgba(0,0,0,0.4);/* くろすけ */
position: absolute;
top: 0;right: 0;bottom: 0;left: 0;
content: ' ';
}
.visit-left-three-text p,.visit-left-three-text a{
  color:#ffffff;
}
.visit-left-three-text {
  padding-top:430px;
  padding-left:60px;
}
.visit-left-three-text-1 {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}
.visit-left-three-text-2 {
  font-weight: 400;
  font-size: 37px;
  line-height: 50px;
}
.visit-left-three-text-3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}
.visit-right {
  width:50%;
}
.visit-right-one {
  width:530px;
  height:680px;
  /*  */
  background: url(https://raw.githubusercontent.com/genkimita/silveroak/master/image/home-visit-av-1.jpg);
  background-size: cover;
  position: relative;
  /*  */
  top: 350px;
  left: 20px;
}
.visit-right-one::before {
background-color: rgba(0,0,0,0.4);/* くろすけ */
position: absolute;
top: 0;right: 0;bottom: 0;left: 0;
content: ' ';
}
.visit-right-text p,.visit-right-text a{
  color:#ffffff;
}
.visit-right-text {
  padding-top:430px;
  padding-left:60px;
}
.visit-right-text-1 {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}
.visit-right-text-2 {
  font-weight: 400;
  font-size: 37px;
  line-height: 50px;
}
.visit-right-text-3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}



.about {
  width:100%;
}
.about-box {
  width:1320px;
  height:1135px;
  background: url(https://raw.githubusercontent.com/genkimita/silveroak/master/image/g2g-menu-night-harvest-650x650.jpg);
  background-size: cover;
  margin: 0 auto;
  margin-top:175px;
  margin-bottom:175px;
}
.about-box-text {
  width:66.666%;
  margin: 0 auto;
  /*  */
  color:#ffffff;
  padding-top:170px;
}
.about-box-text-one {
  font-weight: 400;
  font-size: 44px;
  line-height: 58px;
}
.about-box-text-two {
  font-weight: 200;
  font-size: 44px;
  line-height: 58px;
  font-family:"GT Super Display";
  /*  */
  padding-bottom:100px;
}
.about-box-text-three {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /*  */
  height:30px;
}
.about-box-text-four {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  /*  */
  height:140px;
}
.about-box-text-five {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  /*  */
  height:140px;
}
.about-box-text-six {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  /*  */
  height:140px;
}
.about-box-text-seven {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  /*  */
  height:140px;
}
p.about-text-category {
  vertical-align : middle;
}



.futured {
  height:1255px;
}
.futured-box {
  width:1320px;
  margin: 0 auto;
  margin-bottom:120px;
}
.futured-box-text-one {
  font-weight: 400;
  font-size: 37px;
  line-height: 50px;
  /*  */
  margin-bottom:60px;
}
.futured-box-text-two {
  height:285px;
  display: flex;
}
.futured-box-text-two-left {
  width:50%;
}
.futured-box-text-two-img {
  width:425px;
  height:285px;
  background: url(https://raw.githubusercontent.com/genkimita/silveroak/master/image/blog-silver-oak-summer-dock-600x400.jpg);
  background-size: cover;
}
.futured-box-text-two-right {
  width:50%;
}
.futured-box-text-two-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  vertical-align : middle;
}
.futured-box-text-two-2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  vertical-align : middle;
}
.futured-box-text-three {
  height:285px;
  display: flex;
}
.futured-box-text-three-left {
  width:50%;
}
.futured-box-text-three-img{
  width:425px;
  height:285px;
  background: url(https://raw.githubusercontent.com/genkimita/silveroak/master/image/blog-lab-beeker-600x400.jpg);
  background-size: cover;
}
.futured-box-text-three-right {
  width:50%;
}
.futured-box-text-three-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  vertical-align : middle;
}
.futured-box-text-three-2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  vertical-align : middle;
}
.futured-box-text-four {
  height:285px;
  display: flex;
}
.futured-box-text-four-left {
  width:50%;
}
.futured-box-text-four-img {
  width:425px;
  height:285px;
  background: url(https://raw.githubusercontent.com/genkimita/silveroak/master/image/blog-silver-oak-magnums-600x400.jpg);
  background-size: cover;
}
.futured-box-text-four-right {
  width:50%;
}
.futured-box-text-four-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  vertical-align : middle;
}
.futured-box-text-four-2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  vertical-align : middle;
}


.explore {
  height:840px;
  background: url(https://raw.githubusercontent.com/genkimita/silveroak/master/image/sign-up-silver-oak-2016-alex-600x400.jpg);
  background-size: cover;
}
.explore-box {
  background-color:#ffffff;
  width:670px;
  height:605px;
  /*  */
  display: inline-block;
  vertical-align : middle;
  padding-left:130px;
}
.explore-box-text-three {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
}
.explore-box-text-one {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.explore-box-text-two {
  font-weight: 400;
  font-size: 51px;
  line-height: 68px;
}
.explore-box-text-three {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
}
.explore-box-text-four {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.explore-box-text-five {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.explore-box-text-six {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.explore-box-text-seven {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.explore-box-text-eight {
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
}



.footer {
  height:535px;
  background-color:rgb(0, 0, 0);
}
.footer-box {
  width:66%;
  margin: 0 auto;
  display: flex;
}
.footer-left {
  width:50%;
}
.footer-left-one {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
.footer-left-two-list li{
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}
.footer-left-three-list li{
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}
li.footer-valley {
  color:#ffffff;
}
li.footer-valley-name {
  color:rgb(128, 128, 128);
}　
.footer-right {
  width:50%;
  display: flex;
}
p.footer-list-title{
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color:#ffffff;
}
li.footer-list-1{
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color:#ffffff;
}






.copyright {
  width:100%;
  background-color:rgb(21, 21, 21);
}
.copyright-box {
  width:66%;
  margin: 0 auto;
  text-align: center;
}
.copyright-box a{
  color:rgb(150, 150, 150);
}
.copyright-box-one {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
.copyright-box-two {
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
}
.copyright-box-three {
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
}

















/*  */
